div.div1 {
    background-color: lightgray;

    a.pod1 {
        font-size: 20px;
    }

    a.pod2 {
        font-size: 20px;
    }

    div.div2 {
        color: red;

        a.pod3 {
            font-size: 16px;

        }

        a.pod4 {
            font-size: 20px;
        }
    }
}