.nav {
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.nav-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 1em;
}


ul {
    list-style-type: none;
}